/* styles.css */


h5 {
    font-size: 0.80rem !important; /* Tamaño de fuente más grande */
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
}

h2 {
    font-size: 2rem; /* Tamaño de fuente más grande */
}
