/* styles.css */
body {
    background-color: #f8f9fa; /* Color de fondo suave */
    display: flex; /* Utilizar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura completa de la ventana */
    margin: 0; /* Eliminar márgenes predeterminados */
}

h1 {
    font-size: 2.5rem; /* Tamaño de fuente más grande */
}

h2 {
    font-size: 2rem; /* Tamaño de fuente más grande */
}
